.todoForm {
    margin: 0 auto 0 auto;
    max-width: 50%;
    margin-bottom: 20px;
    background-color: antiquewhite;
}

.form-control {
    margin-bottom: 10px;
}

.hidenElement {
    visibility:hidden ;
}

.showElement {
    visibility:visible ;
}